.container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  width: 400px;
  padding: 8px;
  border: 1px solid #212122;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #4d90fe;
}
