.div {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Забезпечує повний розмір висоти вікна браузера */
}

/* Стилі для AppBar можуть бути розміщені в окремому файлі або додані прямо тут, якщо вони не великі */
